# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**

List popular languages for Data Science
* Python
* R
* Java 
* Scala 
* Julia

List popular libraries of Data Science 
* Pandas
* Sea born
* Matplotlib
* Keras
* TensorFlow

Some of the popular languages that Data Scientists use are :
1. Python
2. R
3. SQL
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include :
1. Pandas
2. NumPy
3. Keras 
4. TensorFlow
5. Vegas

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| R studio |
| Hadoop |

### Below are few examples of evaluation of arithematic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Neelabh Bhardwaj